/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
.done-header {
    padding: 10px;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/* Logo Container Styles */
.done-header__logo-container {
    display: flex;
    align-items: center;
}

.done-header__logo {
    width: 30px;
    height: 39px;
    padding-right: 5px;
}

.done-header__main-title {
    font-size: 1em;
}

.done-header__logout-icon {
    color: rgb(213, 18, 18);
    border: 2px solid rgb(213, 18, 18);
    border-radius: 5px;
    background-color: #7bed8d;
    padding: 4px;
}

.done-header__logout-button {
    display: none;
}

/* Done List Container Styles */
.done-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Calendar Styles */
.calendar_title {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #006212;
    font-size: 20px;
}

.react-calendar {
    width: 300px;
    max-width: 100%;
    background: #7bed8d;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    border-radius: 5px;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar__navigation__label__labelText--from {
    color: black;
}

.react-calendar__navigation__arrow {
    color: black;
}

.react-calendar__month-view__weekdays__weekday {
    color: black;
}

abbr[title] {
    text-decoration: none !important;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #006212 !important;
}

.react-calendar__month-view__days__day {
    color: black;
}

.react-calendar__month-view__days__day--weekend {
    color: black;
}

.react-calendar__tile--now {
    background: #006212;
    color: white;
}


.react-calendar__tile--active {
    color: black;
    border: solid 2px #006212 !important;
}

/* Tasks Styles */
form,
.tasks__list {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

.tasks__title {
    width: 95%;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    color: #006212;
    font-size: 30px;
}

.tasks__add-form {
    display: flex;
    align-items: center;
    padding-top: 5px;
    gap: 15px;
    width: 95%;
    margin: 0 auto;
}

.tasks__list {
    list-style: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

/* Task Item Styles */
.tasks__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;
}

.tasks__item:hover {
    background-color: #7bed8d;
}

/* Input Styles */
.tasks__input-edited,
.tasks__input {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    background-color: #F2F2F2;
    border: solid 1px #B7B7B7;
    font-size: 16px;
}

/* Completed Task Styles */
.tasks__input-completed {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.tasks__checkmark {
    position: absolute;
    top: 0;
    left: 0px;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    background-color: #006212;
}

.tasks__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.tasks__list input:checked~.tasks__checkmark:after {
    display: block;
    color: white;
}

.tasks__list .tasks__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Task Text Styles */
.tasks__task {
    font-size: 16px;
    margin-left: 45px;
}

/* Icon Styles */
.tasks__edit-icon,
.tasks__trash-icon {
    margin-left: 45px;
    color: #006212;
    cursor: pointer;
}

/* Button Styles */
.tasks__button {
    background-color: #006212;
    border: none;
    margin-bottom: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

/* Media Query for Larger Screens */
@media (min-width: 641px) {
    .done-header__logout-button {
        position: absolute;
        right: 20px;
        width: unset;
        font-size: .9em;
        margin-bottom: 0;
        display: flex;
        padding: 5px 55px;
    }

    .done-header__logout-icon {
        display: none;
    }
}