@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    padding: 0;
}

.done__header {
    padding: 10px;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo_container {
    display: flex;
}

.logout {
    color: rgb(213, 18, 18);
}

.done-button {
    background-color: #006212;
    display: none;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
}

.list-container {
    display: flex;
    justify-content: center;
}

.calendar {
    display: none;
}

form, .tasks_list {
    display: flex;
    justify-content: center;
}

.tasks__title {
    width: 95%;
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
    color: #006212;
    font-size: 28px;
}

form {
    padding-top: 20px;
}

.tasks_list {
    list-style: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.tasks_list li {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.tasks_list input  {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0px;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    background-color: #006212;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.tasks_list input:checked ~ .checkmark:after {
    display: block;
}

.tasks_list .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.task {
    margin-left: 45px;
}

.edit_icon {
    margin-left: 45px;
    color: #006212;
    cursor: pointer;
}

.trash_icon {
    margin-left: 10px;
    color: #006212;
    cursor: pointer;
}

.add-tasks input {
    padding: 5px;
    background-color: #F2F2F2;
    border: solid 1px #B7B7B7;
}

.add-tasks button {
    background-color: #006212; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
}

@media (min-width:641px) {
    .done-button {
        position: absolute;
        right: 20px;
        display: flex;
    }

    .logout {
        display: none;
    }
}