/* Import Google Fonts - Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

/* Global Styles */
* {
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
  margin: 0;
  padding: 0;
}

/* Login Section Styles */
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5em 1.5em 1.5em 1.5em;
}

/* Form Section Styles */
.login__form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Form Title Styles */
.login__form-title {
  width: 95%;
  text-align: center;
  font-weight: bold;
  color: #006212;
  font-size: 1.6em;
  padding-top: 11px;
}

/* Guest Section Styles */
.login__guest-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Guest Title Styles */
.login__guest-title {
  margin: 2em 0 1em 0;
}

/* Guest Button Styles */
.login__guest-button {
  margin-bottom: 2.5em;
}

/* Divider Styles */
.login__divider {
  border-top: 1px solid #b7b7b7;
  width: 80%;
  margin: 0 auto;
}

/* Email Title Styles */
.login__email-title {
  margin: 1.5em 0 1em 0;
}

/* Form Styles */
.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Label Styles */
.login__label {
  color: #5b5b5b;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Input Styles */
.login__input {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: solid 1px #b7b7b7;
}

/* Input Error Styles */
.login__input-error {
  border: solid 1px #a52727;
}

/* Error Message Styles */
.login__error {
  color: #a52727;
  margin-bottom: 10px;
}

/* Error Icon Styles */
.login__error-icon {
  font-family: "Arial", sans-serif;
  font-weight: 900;
  width: 15px;
  height: 27px;
  margin-right: 5px;
  content: "❌";
  display: inline-block;
  vertical-align: middle;
}

.password-input-container {
  position: relative;
}

.login__input {
  padding-right: 40px;
}

.password-toggle-icon {
  position: absolute;
  top: 42%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon svg {
  width: 20px;
  height: auto;
  fill: #666;
}

/* Button Container Styles */
.login__button-container {
  margin-top: 10px;
}

/* Button Styles */
.login__buttons {
  display: flex;
  gap: 13px;
}

.login__button {
  margin-bottom: 10px;
  background-color: #006212;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__button:hover,
.login__guest-button:hover {
  background-color: #022809;
}

/* Media Query for Larger Screens */
@media (min-width: 961px) {
  .login__form-section {
    width: 100%;
  }

  .login__form {
    width: 50%;
  }

  .login__guest-button {
    width: unset;
    padding: 5px 55px;
  }

  .login__guest-section {
    width: 100%;
  }

  .login__divider {
    border-top: 1px solid #b7b7b7;
    width: unset;
    margin: 3em;
  }

  .login__choose-section {
    display: flex;
    justify-content: center;
  }
}
