@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
  margin: 0;
  padding: 0;
}

.login__second-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5em 1.5em 1.5em 1.5em;
}

.login__form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login__form-title {
  width: 95%;
  text-align: center;
  font-weight: bold;
  color: #006212;
  font-size: 1.6em;
  padding-top: 11px;
}

.login__guest-title {
  margin: 2em 0 1em 0;
}

.login__guest-button {
  margin-bottom: 2.5em;
}

.divider {
  border-top: 1px solid #B7B7B7;
  width: 80%;
}

.login__email-title {
  margin: 1.5em 0 0em 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__label {
  color: #5B5B5B;
  font-size: 14px;
  margin-bottom: 5px;
}

.login__input {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  background-color: #F2F2F2;
  border: solid 1px #B7B7B7;
}

.error {
  color: #A52727;
  margin-bottom: 10px;
}

.error::before {
  font-weight: 900;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  content: "\58";
}

.login__button-container {
  margin-top: 10px;
}

.login__button {
  margin-bottom: 10px;
  background-color: #006212;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width:641px) {

}

@media (min-width:961px)  {
  .login__second-section {
    flex-direction: row;
  }

  .login__form-section {
    justify-content: baseline;
    align-items: baseline;
    width: fit-content;
  }
}