@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
  margin: 0;
  padding: 0;
}

header,
.home__article {
  background-color: #7bed8d;
}

header {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 15px;
}

.home_logo {
  width: 10%;
}

.logo {
  width: 40px;
  height: 39px;
  padding-right: 5px;
}

.home_paragraph-first {
  padding: 30px 20px 30px 30px;
}

.home_paragraph {
  padding: 10px 20px 30px 30px;
}

.home__second-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.home__form-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  margin-bottom: 20px;
}

.home__form {
  display: flex;
  flex-direction: column;
}

.home__label {
  margin-bottom: 5px;
}

.home__input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #F2F2F2;
  border: solid 1px #B7B7B7;
}

.error {
  color: #A52727;
  margin-bottom: 10px;
}

.error::before {
  font-weight: 900;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  content: "\58";
}

.home__button-container {
  margin-top: 10px;
}

.home__button {
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: #006212; /* Green */
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
}

.home__img-container {
  display: flex;
  justify-content: center;
}

.home__img-container img {
  width: 80%;
}

@media (min-width:641px) {
  .home_logo {
    width: 5%;
  }
}

@media (min-width:961px)  {
  .home__second-section {
    flex-direction: row;
  }

  .home__form-section {
    justify-content: baseline;
    align-items: baseline;
    margin-top: 30px;
    margin-left: 30px;
    width: fit-content;
  }

  .home__img-container {
    justify-content: flex-end;
  }

  .home__img-container img {
    width: 60%;
    margin-top: -105px;
  }
}