/* Reset and global styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

/* Apply global styles to all elements */
* {
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
  margin: 0;
  padding: 0;
}

/* Button styles */
button {
  margin-bottom: 10px;
  background-color: #006212;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header and welcome article styles */
header,
.welcome__article {
  background-color: #7bed8d;
}

/* Main header styles */
.main-header {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.main-header__logo {
  width: 30px;
  height: 39px;
  padding-right: 5px;
}

.main-header__title {
  font-size: 1em;
}

/* Welcome article styles */
.welcome__article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
  padding: 0 1.5em 1.5em 1.5em;
}

.welcome__article-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.welcome__paragraph--bold {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.5em;
  padding-bottom: 0.3em;
}

.welcome__paragraph--middle {
  font-size: 1.1em;
  line-height: 1.5em;
  padding-bottom: 0.2em;
}

/* Button styles */
.welcome__button {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  font-size: 0.9em;
  width: 83%;
  margin-bottom: 7em;
}

.welcome__button:hover {
  background-color: #022809;
}

/* Blink animation styles */
.blink {
  animation: blink 2s linear infinite;
}

/* Keyframes for the blink effect */
@keyframes blink {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  75% {
    opacity: 1;
  }
}

/* Image container styles */
.welcome__img-container {
  display: flex;
  justify-content: center;
  margin-top: -105px;
}

.welcome__img-container img {
  width: 80%;
}

/* Media queries for responsiveness */
@media (min-width: 641px) {
  .welcome__article {
    align-items: center;
  }

  .welcome__article {
    height: 60vh;
    justify-content: center;
  }

  .welcome__bold-paragraph {
    width: 40%;
  }

  .welcome__middle-paragraph {
    width: 60%;
  }

  .welcome__button {
    width: 40%;
  }

  .welcome__img-container {
    display: flex;
    justify-content: center;
    margin-top: -157px;
  }

  .welcome__img-container img {
    width: 52%;
  }
}

@media (min-width: 961px) {
  .welcome {
    display: flex;
  }

  .welcome__article {
    height: 92vh;
    width: 55%;
    justify-content: center;
  }

  .welcome__article-description {
    width: 70%;
  }

  .welcome__bold-paragraph {
    width: 80%;
  }

  .welcome__middle-paragraph {
    width: 85%;
  }

  .welcome__button {
    width: auto;
    gap: 15px;
  }

  .welcome__img-container {
    align-items: center;
    background-color: white;
  }

  .welcome__img-container img {
    height: 50%;
    width: 80%;
  }
}
